In [6]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support

In [11]:
#Import csv
df = pd.read_csv('./data/heights.csv', index_col = 0) 
#El index_col = 0 hace que la primera columna no aparezca como una columna 'unnamed'

In [9]:
#Print head to check
df.head()

    sex  height
1  Male    75.0
2  Male    70.0
3  Male    68.0
4  Male    74.0
5  Male    61.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1050 entries, 1 to 1050
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sex     1050 non-null   object
 1   height  1050 non-null   float64
dtypes: float64(1), object(1)
memory usage: 24.6+ KB

In [12]:
df.sample(10)

        sex     height
593    Male  60.000000
280    Male  69.000000
440  Female  63.000000
891    Male  72.000000
65     Male  66.000000
735    Male  66.929134
968    Male  69.000000
605    Male  68.900000
734    Male  69.000000
228    Male  65.000000